*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Open Sans",sans-serif;
  background-attachment: fixed;
  background-color: black;
}

/*-------------------------- NAV PROVA -----------------------*/
.fixed-nav{
  position:fixed;
  width:100%;
  top:0;
}
.header-nav {
  z-index:300;
  background-color: #191b1c96;
  width: 100%;
  position:relative;
  float:left;
  margin:0 auto;
  margin-left:308px;
  backdrop-filter: blur(2px);
}
.header-nav ul {
  position:absolute;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  text-transform: uppercase;
}
.header-nav ul li {
  width:200px;
  position:relative;
  float:left;
  border-left:1px solid rgba(224, 52, 106, 1);
}
.header-nav ul li ul {
  margin-left: -1px;
}
.header-nav > ul {
  position:relative;
}
.header-nav > ul > li:last-child {
  border-right:1px solid rgba(224, 52, 106, 1);
}
.header-nav > ul > li > .header-nav-link + ul li {
  width:201px;
  opacity:0;
  height:0;
  margin-top:-48px;
  border-bottom:2px solid rgba(224, 52, 106, 1);
  visibility: hidden; 
  display: none;
}
.header-nav > ul > li:hover .header-nav-link + ul > li {
  opacity:1;
  height:70px;
  margin-top:0;
  visibility: visible;
  display: block;
  z-index: 2;
}

.header-nav .header-nav-link {
  float:left;
  text-decoration:none;
  color:#ffffffc2;
  padding:15px;
  width:100%;
  font-weight :600;
}
.header-nav .header-nav-link:hover {
  background-color:rgba(224, 52, 106, 1) !important;
}
.header-nav .header-nav-top-link {
  padding: 25px 15px 26px;
}
.header-nav ul li:hover .header-nav-link {
  background-color:#333;
  backdrop-filter: blur(2px);
  height: 70px;
  padding-top: 25px;
}
.header-nav ul li:hover .header-nav-top-link {
  background-color:rgba(224, 52, 106, 0.8);
}
.header-nav > ul > li > .header-nav-top-link + ul {
  top:70px;
}
.header-nav > ul > li:hover .header-nav-sub-link {
  background-color:#333333b4;
}

/*------------button scroll to Top--------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 28px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #e0346a;
  color: white;
  cursor: pointer;
  padding: 18px;
  border-radius: 36px;
  width: 70px;
}



  /*------------------index +  vanitatis + NYTimes + espanol -----------------------------*/
.container h1, .nolibrosh1{
  margin-left: 304px;
  margin-top: 160px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: #ffffffc2;
  border-color: #ffffffc2;
  padding-bottom: 13px;
  margin-bottom: 50px;
}
.container h1{
  margin-right: 45px;
}
.nolibrosh1{
 margin-right: 5%;
}
.nowrap {
  white-space: nowrap;
}
.fotosilvia p {
  font-size: 12px;
}
.wrap{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: scroll;
  padding-left: 298px;
  padding-right: 40px;
}
.wrap p{
  font-size: 14px;
}
a{
  text-decoration: none;
  font-weight:800;
  color: #fffc; 
}
a:hover{
  text-decoration: line-through;
}
.wrap a{
  color: #fffc; 
  text-decoration:none;
  font-weight: 600;
}
.wrap a:hover{
  text-decoration: line-through;
}
.art{
  margin:5px;
  line-height: 1.5;
  height: 100px;
  padding:3px;
  color:black; 
  background-color: #ffffffeb; 
}

  /*---------------container cookies-------------*/
  .container-silvia.cookies{
    margin-right: 10px;
    padding-left: 310px;
  }

  /*----------------------- libros + index ----------------*/

.container-libros, .container-silvia {
  color: #ffffff9c;
  margin-top: 160px;
}
.fotosilvia{
  max-width:400px;
} 
.foto-libro{
  max-width:300px;
}
.foto-libro img, .fotosilvia img{
  width:100%;
}
.wrap-libro, .wrap-silvia {
  margin-top: 98px;
  margin-left: 311px;
  font-size: 19px;
  line-height:1.6;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.text-libro, .text-silvia{
  margin-right: 10%;
  margin-top: -4px;
  padding-left: 0px;
  font-family: Playfair, "Hoefler Text" , "Times New Roman" ,Times , serif ;
}
.text-libro h1{
  border-bottom-width: 3px;
  border-bottom-style: solid;
  padding-bottom: 6px;
  margin-top: -6px;
}
.text-libro p{
  margin-top:17px;
}


/*------------zoom foto------------*/
#zoomA {
  transition: transform ease-in-out 0.3s;
} 
 
/* (C) ZOOM ON HOVER */
#zoomA:hover { 
  transform: scale(1.5);
  padding-top: 50px;
}
 
  /*-------------- pagination -----------------*/
.archive-pagination-box{
  width: 100%;
  position: relative;
  padding: 25px 0 50px 0;
  clear: both;
  text-align: center;
}
.pagination-box{
  margin-top: 39px !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  font-weight: normal;
}
ul  {
  list-style:none;
}
.pagination-item{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 15px;
}
.pagination-link{
  text-decoration:none;
  color: #ffffffd6;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.pagination-link.marcado{
  background-color: #e0346a;
}
.fa-angle-right::before {
  content: '\f105';
}
.fa-angle-double-right::before {
  content: '\f101';
}

/*-------- footer -------------------------*/

.footer{
  height: 100px;
  margin-top: 209px;
  font-size: 14px;
} 
.footer p{
  margin-left: 312px;
}


/*-----------contacto--------*/
.social-media{
  padding-left: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

/*----------------------------------- COOKIES banner--------------------------------*/
.cookie-consent-modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  align-items: flex-start;
}
.cookie-consent-modal.active{
  display: flex;
}
.contentcookies{
  background-color:#978d06;
  padding: 2vw 1vw;
  border-radius: 10px;
  margin-top: 28px;
  margin-left: 15px;
} 
.contentcookies p{
  font-size: 15px;
}
.btns{
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}
.cookies-btn{
  border:none;
  outline:none;
  padding: .8em 1,5em;
  width: 100px;
  margin-right: 1em;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  height: 26px;
  font-size: 11px;
  font-weight: 500;
}
.cookies-btn.accept{
  background-color:#0f1010;
  color: #fff;
}
.cookies-btn.accept:hover{
  opacity: 0.5;
}
.contentcookies a{
  color:#a2a2a4;
}
.contentcookies a:hover{
  opacity: 0.5;
}


/*------------------- responsive max width 1339px -------------*/

@media (max-width:1570px){
    .art{
        height: 136px;
    }
    .text-silvia{
        padding-left: 34px;
    }
}

@media (max-width:1339px) {
    .art{
        line-height: 1.2;
        font-size: 14px;
        margin:8px;
    }
   .wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:1272px){
    .text-libro, .text-silvia{
        padding-left:20px;
        font-size:15px;
    }
}

@media (max-width: 1159px) {
    .header-nav, .wrap-libro, .wrap-silvia, .footer p{
        margin-left: 157px;
    }
    h1{
        margin-left: 157px !important;
    }
    .text-libro h1{
        margin-left: auto !important;
    }
    .wrap, .social-media{
        margin-left: inherit;
        padding-left: 151px;
        padding-right: 100px;
    }
}

@media (max-width:1071px){
    #zoomA:hover{
        padding-left:50px;
    }
    .wrap-silvia, .footer p{
        margin-left: 157px;
    }
}
@media (max-width:1024px){
     .header-nav, .wrap-libro{
        margin-left:114px;
     }
     .wrap, .social-media {
        padding-left: 103px;
     }
     h1 {
        margin-left:114px !important;
     }
     .wrap-silvia, .footer p{
        margin-left: 114px;
    }
}

/*------------- responsive max width 928px ------------------*/
@media(max-width: 928px){
      .header-nav ul li{
         width: 172px;
      }
      .header-nav > ul > li > .header-nav-link + ul li{
         width: 172px;
      }
      .header-nav, .wrap-libro, .wrap-silvia, .footer p  {
          margin-left:5%;
      }
      h1{
          margin-left:0 !important;
      }
      .wrap {
          padding-left: 39px;
      }
      .container h1 {
         margin-left: 44px !important;
      }
      .social-media{
          padding-left: 20px;
      }
      .container-silvia.cookies{
        padding-left: 10px;
        margin-top:122px;
      }
}

/*----------------- responsive  max width 767px-----------*/

@media (max-width: 767px) {
      .header-nav > ul {
         width: 800px;
      }
      .header-nav > ul > li {
          width:100%;
          border-right:4px solid rgba(224, 52, 106, 1);
          border-bottom:2px solid rgba(224, 52, 106, 1); 
      }
      .header-nav .header-nav-top-link{
          font-size: 18px;
          font-weight: 600;
      }
      .header-nav > ul > li:last-child {
          border-bottom:none;
      }
      .header-nav > ul > li > .header-nav-top-link + ul {
          position:relative;
          top:0px;
          left:4px;
          margin-left: -4px;
          width:100%;
      }
      .header-nav > ul > li > .header-nav-top-link + ul li {
          position:relative;
          float:left;
          border-left:none;
          width:100%;
      }
      .container h1, .nolibrosh1{
          margin-top: 350px;
          margin-left:21px !important;
          margin-right:10px !important;
      }
    
      .container-contacto h1{
          margin-top: 350px !important;
      }

      .wrap {
          grid-template-columns: 1fr 1fr;
          padding-right: 7px;
      }
      .art {
        margin:5px;
          height: 83px;
          line-height: 1.3;
      }
      .container-silvia{
          margin-top: 366px;
      }
      .wrap-libro, .wrap-silvia{
          flex-direction: column;
          margin-left: 44px;
      }
      .footer p{
          margin-left: 44px;
      }
      .foto-libro, .fotosilvia{
          max-width:150px;
      }
      .fotosilvia p {
          font-size: 11px;
      }
      .text-libro, .text-silvia{
          width: auto;
          padding-left: 0px;
          margin-top: 0px;
      }
      .text-libro h1{
          margin-left: 44px;
      }
      .wrap-libro, .wrap-silvia{
          display:block;
      }
      .foto-libro, .fotosilvia{
          float:left;
          margin-right: 20px;
      }
      .text-libro h1 {
          border-bottom-width: 0px;
    
      }
}
@media (max-width: 604px) {
  .container h1 {
     margin-left: 29px !important;
  }
  .wrap {
    padding-left: 25px;
  }
}

@media (max-width:576px){
      .foto-libro, .fotosilvia{
          float: unset;
          margin-bottom: 20px;
    }
    .wrap {
      padding-left: 16px;
    }
}

@media (max-width: 531px){
      .wrap {
          grid-template-columns: 1fr;
      }
      .text-libro h2{
          font-size: 15px;
      }
      .container h1 {
        margin-left: 23px !important;
      }
      .archive-pagination-box {
        padding: 10px;
      }
      .pagination-item {
        width: 8px;
      }
    
}


